NET "clk"    LOC= "B8";

NET "sw<0>" LOC = "G18";
NET "sw<1>" LOC = "H18";
NET "sw<2>" LOC = "K18";
NET "sw<3>" LOC = "K17";

NET "btn<0>"    LOC= "B18";
NET "btn<1>"    LOC= "D18";
NET "btn<2>"    LOC= "E18";
NET "btn<3>"    LOC= "H13";

NET "rgb<7>"   LOC = "R9";
NET "rgb<6>"   LOC = "T8";
NET "rgb<5>"   LOC = "R8";
NET "rgb<4>"   LOC = "N8";
NET "rgb<3>"   LOC = "P8";
NET "rgb<2>"   LOC = "P6";
NET "rgb<1>"  LOC = "U5";
NET "rgb<0>"  LOC = "U4";

NET "hs"     LOC= "T4";
NET "vs"     LOC= "U3";
